{% extends "layout.html" %}

{% block content %}

<form action="#" name="settings_form" id="settings_form" 
      method="post" enctype="multipart/form-data" data-ajax="false">

    {% if require_reboot %}
        <div>
            <strong>
                <span style="color:#ff2000;">
                    Settings have been changed. Lextend will reboot now.
                    <br>
                    This may take some minutes.
                </span>
            </strong>
        </div>
    {% endif %}

    <ul data-role="listview" data-inset="true">
        <li class="ui-field-contain">
            <div data-role="collapsible" data-collapsed="false">
                <h4>Lextend Ethernet</h4>
                <ul data-role="listview">
                    <li class="ui-field-contain">
                        <label for="1" class="select">Hostname</label>
                        <label id="hostname" class="select">{{hostname}}</label>
                    </li>
                    <li class="ui-field-contain">
                        <label for="ethernet.enable">Enable Static</label>
                    <div class="ui-grid-solo" id="">
                        <div class="ui-block-a">
                            <select name="ethernet.enable"
                                    id="ethernet.enable" data-role="slider">
                                <option id="off" value="off"
                                    {% if not cfg.general.lextend.enable %}selected="selected"{% endif %}
                                >Off</option>
                                <option id="on" value="on"
                                        {% if cfg.general.lextend.enable %}selected="selected"{% endif %}
                                >On</option>
                            </select>
                        </div>
                    </div>
                        <label for="1" class="select">IP</label>
                            <input type="text" id="lextend.ip" title="" name="lextend.ip"
                                   value="{{cfg.general.lextend.ip}}"/>
                        <label for="2" class="select">Netmask</label>
                            <input type="text" id="lextend.netmask" title="" name="lextend.netmask"
                                   value="{{cfg.general.lextend.netmask}}"/>
                        <label for="3" class="select">Default Gateway</label>
                            <input type="text" id="lextend.gateway" title="" name="lextend.gateway"
                                   value="{{cfg.general.lextend.gateway}}"/>
                        <label for="4" class="select">DNS1</label>
                            <input type="text" id="lextend.dns1" title="" name="lextend.dns1"
                                   value="{{cfg.general.lextend.dns1}}"/>
                        <label for="5" class="select">DNS2</label>
                            <input type="text" id="lextend.dns2" title="" name="lextend.dns2"
                                   value="{{cfg.general.lextend.dns2}}"/>
                        <label for="6" class="select">Port</label>
                            <input type="text" id="lextend.port" title="" name="lextend.port"
                                   value="{{cfg.general.lextend.port}}"/>
                    </li>
                </ul>
            </div>
        </li>

        <li class="ui-field-contain">
            <div data-role="collapsible" data-collapsed="false">
                <h4>Lextend WiFi</h4>
                <ul data-role="listview">
                    <li class="ui-field-contain">
                        <label for="wifi.enable">WiFi ON</label>
                        <select name="wifi.enable"
                                id="wifi.enable" data-role="slider">
                            <option id="off" value="off"
                                    {% if not cfg.general.lextend.wifi.enable %}selected="selected"{% endif %}
                            >Off</option>
                            <option id="on" value="on"
                                    {% if cfg.general.lextend.wifi.enable %}selected="selected"{% endif %}
                            >On</option>
                        </select>
                    </li>
                    <li class="ui-field-contain">
                        <label for="wifi_static.enable">Enable Static</label>
                        <div class="ui-grid-solo" id="">
                            <div class="ui-block-a">
                                <select name="wifi_static.enable"
                                        id="wifi_static.enable" data-role="slider">
                                    <option id="off" value="off"
                                            {% if not cfg.general.wifi_static.enable %}selected="selected"{% endif %}
                                    >Off</option>
                                    <option id="on" value="on"
                                            {% if cfg.general.wifi_static.enable %}selected="selected"{% endif %}
                                    >On</option>
                                </select>
                            </div>
                        </div>
                        <label for="1" class="select">IP</label>
                            <input type="text" id="lextend.static.ip" title="" name="lextend.static.ip"
                                   value="{{cfg.general.wifi_static.ip}}"/>
                        <label for="2" class="select">Netmask</label>
                            <input type="text" id="lextend.static.netmask" title="" name="lextend.static.netmask"
                                   value="{{cfg.general.wifi_static.netmask}}"/>
                        <label for="3" class="select">Default Gateway</label>
                            <input type="text" id="lextend.static.gateway" title="" name="lextend.static.gateway"
                                   value="{{cfg.general.wifi_static.gateway}}"/>
                        <label for="4" class="select">DNS1</label>
                            <input type="text" id="lextend.static.dns1" title="" name="lextend.static.dns1"
                                   value="{{cfg.general.wifi_static.dns1}}"/>
                        <label for="5" class="select">DNS2</label>
                            <input type="text" id="lextend.static.dns2" title="" name="lextend.static.dns2"
                                   value="{{cfg.general.wifi_static.dns2}}"/>
                        <label for="6" class="select">Port</label>
                            <input type="text" id="lextend.static.port" title="" name="lextend.static.port"
                                   value="{{cfg.general.wifi_static.port}}"/>

                        <label for="1" class="select">SSID</label>
                            <select title = "" name="lextend.dhcp.ssid" id="lextend.dhcp.ssid">
                                {% if wifi_list!= None %}
                                    {% for ssid in wifi_list %}
                                        {% if ssid %}
                                            self.general.wifi_dhcp.ssid
                                            <option value="{{ssid}}"
                                                    {% if cfg.general.wifi_dhcp.ssid == ssid %}
                                                    selected="selected"
                                                    {% endif %}
                                            >{{ssid}}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </select>
                        <label for="2" class="select">Password</label>
                            <input type="password" id="lextend.dhcp.password" name="lextend.dhcp.password"
                                   value=""/>
                    </li>

                </ul>
            </div>
        </li>

        <li class="ui-field-contain">
            <div data-role="collapsible" data-collapsed="false">
                <h4>UDP control device</h4>
                <ul data-role="listview">
                    <li class="ui-field-contain">
                        <label for="1" class="select">IP</label>
                            <input type="text" id="miniserver.ip" title="" name="miniserver.ip"
                                   value="{{cfg.general.miniserver.ip}}"/>
                        <label for="1" class="select">Port</label>
                            <input type="text" id="miniserver.port" title="" name="miniserver.port"
                                   value="{{cfg.general.miniserver.port}}"/>
                    </li>
                </ul>
            </div>
        </li>

        <li class="ui-field-contain">
            <div data-role="collapsible" data-collapsed="false">
                <h4>Access control</h4>
                <ul data-role="listview">
                    <li class="ui-field-contain">
                        <label for="1" class="select">Username</label>
                            <input type="text" id="admin.username" title="" name="admin.username"
                                   value="{{cfg.general.admin.name}}"/>
                        <label for="1" class="select">New Password</label>
                            <input type="password" id="admin.password" title="" name="admin.password"
                                   value=""/>
                        <label for="1" class="select">New Password Confirm</label>
                            <input type="password" id="admin.password_confirm" title="" name="admin.password_confirm"
                                   value=""/>
                    </li>
                </ul>
            </div>
        </li>

        <li class="ui-body ui-body-b">
            <fieldset class="ui-grid-b">
                <div class="ui-block-a">
                    <a href="#confirmResetDialog" id="reset" data-rel="popup"
                       data-position-to="window" data-transition="pop"
                       class="ui-btn ui-corner-all ui-shadow ui-btn-a"
                       >Reset ...</a>
                </div>
                <div class="ui-block-b">
                    <input id="cancel" type="button"
                           name="action" value="Cancel" data-theme="a"
                           onClick="window.location.href='/';">
                </div>
                <div class="ui-block-c">
                    <input id="save" type="submit"
                           name="action" value="Save" data-theme="a">
                </div>
            </fieldset>
        </li>
    </ul>

    <div data-role="popup"
         id="confirmResetDialog"
         data-overlay-theme="b" data-theme="b"
         data-dismissible="false" style="max-width:400px;">
        <div data-role="header" data-theme="a">
            <h1>Reset config ?</h1>
        </div>
        <div role="main" class="ui-content">
            <h3 class="ui-title"
                >Are you sure you want to reset the general settings ?</h3>
            <a href="#"
               class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b"
               data-rel="back">Cancel</a>
            <input type="button" data-theme="b" data-inline="true" value="Reset"
                   onClick="var hi=document.createElement('input');
                            hi.type='hidden';
                            hi.name='action'; hi.value='Reset';
                            settings_form.appendChild(hi);
                            settings_form.submit();">
        </div>
    </div>
</form>

{% endblock %}
