<div style="float:left;width:14em;margin-bottom:16px;margin-right:8px">
    <div class="container">
        <div class="wrap">
            <div class="column left">
                <a href="{{url}}" data-inline="true" {{a_ext | safe}}
                   style="padding:0;margin:0;background-color:transparent;
                          box-shadow:none;-webkit-box-shadow:none;
                          -moz-box-shadow:none;border-width:0"
                    rel="external"
                    data-role="button"
                    data-theme="b">
                    <img class="filter-drop-shadow"
                         style="vertical-align:middle;padding:8px;margin-right:10px;max-height:72px"
                         src="{{image}}">
                </a>
            </div>
            <div class="column right">
                <span style="font-weight:bold;font-size:18px">{{label1}}<br/>{{label2}}</span>
                {{extra|safe}}
            </div>
        </div>
    </div>
</div>
