<style>
    table {
        border: 1px solid #CCC;
        border-collapse: collapse;
    }


    .table1 td, .table th {
    }


    thead, tbody, tr, td, th {
        display: block;
        border: none !important;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;
            /*text-align: left;*/
        }

    tbody {
        height: auto;
        overflow-y: auto;
    }

    thead {
        /* fallback */
    }


        tbody td, thead th {
            /*width: 30%;*/
            float: left;
        }

    .active_row {
        border: 1px solid !important;
        color: darkblue;
    }

    .angular-google-map-container {
        height: 400px;
        width: auto;
    }

    .chartAreaWrapper {
        width: 600px;
        overflow-x: scroll;
    }

    /* CSS REQUIRED */
    .state-icon {
        left: -5px;
    }

    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    /* DEMO ONLY - REMOVES UNWANTED MARGIN */
    .well .list-group {
        margin-bottom: 0px;
    }
</style>
<script>
 
     
 
</script>
<div class="container-fluid" style="margin-left:5px;margin-right:5px;margin-top:3px">

    <div class="row">
        <div class="panel panel-default" style="border-color:darkgray;background-color:white">
            <div class="panel-heading" style="font-size:20px">Alarm Management</div>
            <div class="panel-body">
                <div class="row" style="margin-bottom:10px;margin-left:5px;margin-right:5px">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" ng-click="editAlarmRule()">Edit</button>
                    </div>
                    <div class="pull-right" style="margin-right:5px">
                        <button type="button" class="btn btn-primary" ng-click="deleteAlarmRule()">Delete</button>
                    </div>
                </div>

                <div class="row" style="margin-left:5px;margin-right:5px">

                    <table class="table table-striped" style="height:400px;">
                        <thead style="background-color:#666666;color:white;font-size:16px;height:40px">
                            <tr>
                                <th style="width:20%">Rule Name</th>
                                <th style="width:10%">Type</th>
                                <th style="width:10%">Clearing Mode</th>
                                <th style="width:30%">Configuration</th>
                                <th style="width:30%">Rule Information</th>
                            </tr>
                        </thead>
                        <tbody style="height:400px;">
                            <tr data-ng-repeat="rule in alarmrules" data-ng-click="selectRule($index,rule)" ng-class="{active_row:$index==selectedRow}">
                                <td style="width:20%">{{rule.ruleName}}</td>
                                <td style="width:10%">
                                    Device
                                </td>
                                <td style="width:10%">
                                    {{rule.clearingMode}}
                                </td>
                                <td style="width:30%">
                                    <div ng-show="rule.type == 'device'">
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2{{rule.id}}" >Device Selected</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse2{{rule.id}}" class="panel-collapse collapse">
                                                    <ul class="list-group">
                                                        <li class="list-group-item" ng-repeat="deviceItem in rule.info.deviceIds">{{deviceItem.deviceId}}</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3{{rule.id}}">Parameter Information</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse3{{rule.id}}" class="panel-collapse collapse">
                                                    <ul class="list-group">
                                                        <li class="list-group-item" ng-repeat="(pItem,ranges) in rule.info.paramDefs">{{ranges.displayName}}  Min:{{ranges.minLimit}},Max:{{ranges.maxLimit}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:30%">
                                    {{rule.message}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p></p>
                <div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
                                        <span class="glyphicon glyphicon-minus"></span>New Alarm-Rule Definition
                                    </a>
                                </h1>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="row" style="margin-left:10px;margin-right:5px">
                                             <form class="form-inline">
                                                 <!--<div class="pull-right" style="margin-right:10px">
                                                     <div class="form-group" style="margin-left:5px">
                                                         <button type="button" class="btn btn-primary" ng-click="addRuleButtonClick()">Add Rule</button>
                                                     </div>
                                                 </div>-->

                                                
                                                 <div class="pull-left">
                                                     <div class="form-control-static" style="margin-left:10px">
                                                         <p class="form-control-static">Rule Name</p>
                                                         <input class="form-control" ng-model="newRuleName" type="text" ng-readonly ="isEditMode"/>
                                                     </div>
                                                 </div>
                                                 <div class="pull-left">
                                                     <div class="form-control-static" style="margin-left:5px">
                                                         <p class="form-control-static">Device Type</p>
                                                         <select class="form-control" ng-model="newRuleDevType" ng-change="ruleDeviceTypeChanged()">
                                                            <!-- <option>AFMEthernet</option>   -->
                                                             <option value="RaipurDevice">ESRAI001</option>
															 

                                                         </select>
                                                     </div>
                                                 </div>
                                                 
                                                 <div class="pull-left">
                                                     <div class="form-group" style="margin-left:10px">
                                                         <div class="form-control-static">
                                                             <label style="font-weight:normal;margin-right:10px">Clearing Mode     </label>
                                                             <div class="form-control-static" style="padding-left:10px;padding-right:10px; border-color:gray;border-radius:5px;border-style:solid;border-width:1px">
                                                                 <label class="radio-inline" ><input type="radio" name="optradio"  ng-model="clearingMode" value="Time">TimeBased</label>
                                                                 <label class="radio-inline" ><input type="radio" name="optradio" ng-model="clearingMode" value="Manual">Manual</label>
                                                                 <label class="radio-inline"><input type="radio" name="optradio" ng-model="clearingMode" value="None">None</label>
                                                                 
                                                             </div>
                                                         </div>

                                                     </div>
                                                 </div>
                                                 <div class="pull-left">
                                                     <div class="form-control-static" style="margin-left:7px">
                                                         <p class="form-control-static" style="margin-left:5px">Time Interval (In Seconds)</p>
                                                         <input class="form-control" ng-model="newRuleActiveTime" type="number" />
                                                     </div>
                                                 </div>
                                            </form>
                                        
                                    </div>
                                    <p></p>
                                    <div class="row" style="margin-left:10px;margin-right:10px">
                                     
                                        <form class="form-inline">
                                            <div class="pull-left">
                                                <div class="form-control-static" style="margin-left:5px">
                                                    <p class="form-control-static" style="margin-left:5px">Rule Description</p>

                                                    <input class="form-control" style="margin-left:5px;width:420px" ng-model="newRuleMsg" type="text" />
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                               
                                                <div class="form-control-static">
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" ng-model="ruleCombinedCondition">Is Combined Rule</label>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                          
                                        </form>
                                    </div>
                                    
                                    <p></p>
                                    <div class="row" style="margin-left:0px;margin-right:0px">
                                        <div class="col-sm-4">
                                            <table class="table table-striped" style="height:400px;">
                                                <thead style="background-color:#666666;color:white;font-size:16px;height:40px;">
                                                    <tr>
                                                        <th width="40%">Device Id</th>
                                                        <th width="30%">City</th>
                                                        <th width="30%">Zone</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="height:350px;overflow-y:scroll">
                                                    <tr data-ng-repeat="row1 in deviceAvilable">
                                                        <td width="5%"><input type="checkbox" ng-model="row1.isSelected"/></td>
                                                        <td width="30%">{{row1.deviceId}}</td>
                                                        <td width="30%">{{row1.tag.location.city}}</td>
                                                        <td width="30%">{{row1.tag.location.zone}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-8">
                                            <div >
                                                <table class="table table-striped" style="height:400px;">
                                                    <thead style="background-color:#666666;color:white;font-size:16px;height:40px">
                                                        <tr>
                                                            <th style="width:30%">Parameter</th>
                                                            <th style="width:10%">Unit</th>
                                                            <th style="width:20%">Min Limit</th>
                                                            <th style="width:20%">Max Limit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="height:350px;overflow-y:scroll">
                                                        <tr data-ng-repeat="paramInfo in seletedClassParamInfo">
                                                            <td style="width:30%">{{paramInfo.displayName}}</td>
                                                            <td style="width:10%">{{paramInfo.unit}}</td>
                                                            <td style="width:20%"><input type="number" class="form-control"  ng-model="paramInfo.minLimit"/></td>
                                                            <td style="width:20%"><input type="number" class="form-control" ng-model="paramInfo.maxLimit"/></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                     

                                    <div class="row" style="margin-left:10px;margin-right:10px">
                                        <div class="pull-left">
                                           
                                            <!--<div  style="margin-left:7px">
                                                <p class="form-control-static" style="margin-left:5px">Rule Info</p>
                                                <input class="form-control" ng-model="newRuleActiveTime" type="number" />
                                            </div>-->
                                        </div>

                                    </div>
                                    <div class="row" style="margin-left:10px;margin-right:5px">
                                        <form class="form-inline">
                                            <div class="pull-right" style="margin-right:10px" ng-show="isEditMode == false">
                                                <div class="form-group" style="margin-left:5px">
                                                    <button type="button" class="btn btn-primary" ng-click="addRuleButtonClick()">Add Rule</button>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-right:10px" ng-show="isEditMode == true">
                                                <div class="form-group" style="margin-left:5px">
                                                    <button type="button" class="btn btn-primary" ng-click="editCancel()">Cancel Edit</button>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-right:10px" ng-show="isEditMode == true">
                                                <div class="form-group" style="margin-left:5px">
                                                    <button type="button" class="btn btn-primary" ng-click="updateRuleButtonClick()">Update</button>
                                                </div>
                                            </div>

                                          
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="panel panel-default" style="border-color:darkgray;background-color:white">
            <div class="panel-heading" style="font-size:20px">Active Alarms</div>
            <div class="panel-body">

                <div class="row" style="margin-left:5px;margin-right:5px">
                    <div class="pull-right">
                        <label style="font-weight:normal;margin-left:20px;margin-top:5px;">Filter:</label>
                        <p></p>
                    </div>
                </div>
                <div class="row" style="margin-left:5px;margin-right:5px">
                    <table class="table table-striped" style="height:400px;">
                        <thead style="background-color:#666666;color:white;font-size:16px;height:40px">
                            <tr>
                                <th>Alarm Name</th>
                                <th>Time Stamp</th>
                                <th>Devices</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <p></p>

            </div>
        </div>
    </div>-->

</div>
