
<style>
    .api-name{
        font: 300;
        font-size: 200;
    }

    .active_row {
        border: 1px solid !important;
        color: darkblue;
    }

    

    .content-left {
        display: inline-block;
        height: 400px;
        width: auto;
        top: 20px;
        right: 100px;
    }

    .content-right {
        position: absolute;
        left: 200px;
        right: 20px;
        display: inline-block;
        
        
    }

    .list{
        font: 100;
        display: flex;
    }

    .sidebar-tree {
        display: inline-block;
    }

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }


   
</style>

<div class="container-fluid" style="margin-left:5px;margin-right:5px;margin-top:3px">

    <div class="row">
        <div class="panel panel-default" style="border-color:darkgray;background-color:white">
            <div class="panel-heading" style="font-size:20px">API</div>
            
        </div>
        
        <div id="sidebar-wrapper">

    

        <!--
            
            <div class="content-left" style="width:200px ; height: 1000px">
                
        
                <ul class="nav nav-list navlist-menu-level-0"><li class="
                active
                 active-branch"
                 id="tree-menu-content-api"><a href="/content-api/">Content API</a><ul class="nav nav-list navlist-menu-level-1"><li class=""
            
            
               id="tree-menu-content-api-description"><a href="/content-api/description/">API Description</a></li><li class=""
            
            
                id="tree-menu-content-api-request-api-access"><a href="/content-api/request-api-access/">Request API Access</a></li><li class=""
            
                id="tree-menu-content-api-documentation"><a href="/content-api/documentation/">Documentation</a></li><li class=""
            
                 id="tree-menu-content-api-FAQ"><a href="/content-api/FAQ/">FAQs</a></li><li class=""
            
            
                id="tree-menu-content-api-support"><a href="/content-api/support/">Support</a></li></ul></li></ul>
        
            </div>
            -->
            <div class="complete"></div>
                <div class="content-right">
                    <span>
                    <h2 style="color:blue">API Description</h2> <br>
                    <h4>Approved users of the Envitus IoT Suite  API can access the following  details:</h4>
                    <ul class="api-name">
                        <li style="font-size:18px"><i>/device/sensor/stats </i></li>
                        <li style="font-size:18px"> <i>/device/sensor/stats/count</i></li>
                        <li style="font-size:18px"><i>/device/sensor/livedata/v1</i></li>
                        <li style="font-size:18px"></i>/device/sensor/livedata/v1/count</i></li> <br><br>
                    </ul>
                    </span>

                    <span>
                        <h2 style="color:blue; ">Request API Access</h2> <br>
                        <h4>Envitus  grants only a limited number of API keys, and allow access to the Content API for purposes of:</h4>
                        <ul class="api-name">
                            <li class="list" style="font-size: 18px;"><i> Third Party integrations for immediate client only</i></li>
                        </ul>
                        <h4>Envitus  grants only a limited number of API keys, and does not allow access to the Content API for purposes of:</h4>
                        <ul>
                            <li style="font-size:18px"> <i> Academic research </i></li>
                            <li style="font-size:18px"><i> Any use not associated with a client application </i></li>
                        </ul>
                        <h4>API key will allow limited access of 500 calls per-day/ per device  to the API - this key is to be used for development purposes only.</h4>
                        <h4>The API key is provided to the concerned authority on premise instalation installation. </h4> <br>
                    </span>

                        <span>
                                <h2 style="color:blue">Documentation</h2> <br>

                            <table>
                              <tr>
                                <th>No</th>
                                <th>API URL</th>
                                <th>Comments</th>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>/device/sensor/stats</td>
                                <td>Use this API to return the daily/monthly/yearly
                                        statistics data for a device. <br>
                                        Statistics data includes will include min, max, number
                                        of packets received for each device parameter.</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>/device/sensor/stats/count</td>
                                <td>This API will return the raw data for the requested
                                        devices. <br>
                                        Data Ordering will be based on received time
                                        that is recent data will be put first. <br>
                                        This API will also support start and end time value
                                        while fetching data.
                                </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>/device/sensor/livedata/v1</td>
                                <td>This API will return the raw data for the requested
                                        devices. <br>
                                         Data Ordering will be based on received time
                                        that is recent data will be put first. <br>
                                        This API will also support start and end time value
                                        while fetching data.
                                 </td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>/device/sensor/livedata/v1/count</td>
                                <td>Use this API to get the total number of raw data
                                        captured for given devices.</td>
                              </tr>
                              
                              
                            </table>


                        </span>

                    <span>
                        <h3>API Details</h3> <br>
                        <h4><b><u> 1.  Api: /device/sensor/stats</u></b></h4> <br>
                        <h4>Parameter supported</h4> <br>

                        <table>
                                <tr>
                                  <th>Parameter Name</th>
                                  <th>Optional/Must</th>
                                  <th>Purpose</th>
                                </tr>
                                <tr>
                                  <td>userId</td>
                                  <td>Must</td>
                                  <td>For now use value ‘admin’</td>
                                </tr>
                                <tr>
                                  <td>authPassword</td>
                                  <td>Must</td>
                                  <td>For now use value ‘admin’
                                  </td>
                                </tr>
                                
                                <tr>
                                  <td>deviceIds</td>
                                  <td>Must</td>
                                  <td>This parameter can contain the comma separated device
                                        identifiers or a single device id</td>
                                </tr>
                                <tr>
                                        <td>limit</td>
                                        <td>Must</td>
                                        <td>This parameter can contain the comma separated device
                                              identifiers or a single device id</td>
                                </tr>
                                <tr>
                                        <td>timeStart,timeEnd</td>
                                        <td>optional</td>
                                        <td>This indicates the time epoch value of the start and end
                                                time for collecting device statistics over a period. <br>
                                                If not given, api will return data in latest to oldest order.</td>
                                </tr>
                                <tr>
                                        <td>offset</td>
                                        <td>optional</td>
                                        <td>By default it will be 0</td>
                                </tr>
                                <tr>
                                        <td>timeFrame</td>
                                        <td>Must</td>
                                        <td>timeFrame can take either following values daily
                                                monthly, yearly.</td>
                                </tr>
                                <tr>
                                        <td>params</td>
                                        <td>optional</td>
                                        <td>This can be a comma separated list of parameters. <br>
                                                For example if only temperature and pressure is needed
                                                then give ‘temperature, pressure’.
                                                <br> <br>
                                                By default API will consider all parameters</td>
                                </tr>
                                
                                
                        </table>
                              
                              <span>
                                  <h3>Example</h3>
                                  
                                  <h4> <b><u>
                                        <a href="#">  http://117.247.186.190:4001/device/sensor/stats?userId=admin&authPassword=admin&deviceIds=70b3d5fffe098009&timeFrame=daily&limit=2 </a></u></b>
                                  </h4> <br>
                                  <h4>For asking data for device with ID 70b3d5fffe098009 and time frame with ‘daily’. <br>
                                        API will return daily device statistics sorted in latest to oldest order. <br>
                                        limit parameter tells API to return only 2 records as part of ‘dailtStat’ list. <br> But there is no limit on this
                                        value. <br> <br>
                                        
                                    </h4>
                                    <h4><b> API Result </b></h4>
                                    <h4 style="color:cadetblue;">
                                            {"status":"ok","errorCode":0,"message":null,"data": <br>
                                            {"statPerDeviceId":[{"deviceId":"70b3d5fffe098009","stat":{"dailyStat": <br>
                                            [{"paramName":"temperature","key":"22.11.2018","statParams": <br>
                                            {"sum":10.139999999999999,"count":6,"min":1.69,"max":1.69}}, <br>
                                            {"paramName":"rain","key":"22.11.2018","statParams":{"sum":120,"count":6,"min":20,"max":20}}]}}]}} <br> <br>
                                    </h4>
                              </span>

                              <span>

                                    <h4><b><u> 2.  Api: /device/sensor/stats/count</u></b></h4> <br>
                                    <h4>Parameter supported</h4> <br>
            
                                    <table>
                                            <tr>
                                              <th>Parameter Name</th>
                                              <th>Optional/Must</th>
                                              <th>Purpose</th>
                                            </tr>
                                            <tr>
                                              <td>userId</td>
                                              <td>Must</td>
                                              <td>For now use value ‘admin’</td>
                                            </tr>
                                            <tr>
                                              <td>authPassword</td>
                                              <td>Must</td>
                                              <td>For now use value ‘admin’
                                              </td>
                                            </tr>
                                            
                                            <tr>
                                              <td>deviceIds</td>
                                              <td>Must</td>
                                              <td>This parameter can contain the comma separated device
                                                    identifiers or a single device id</td>
                                            </tr>
                                           
                                            <tr>
                                                    <td>timeStart,timeEnd</td>
                                                    <td>optional</td>
                                                    <td>This indicates the time epoch value of the start and end
                                                            time for collecting device statistics over a period. <br>
                                                            If not given, api will return data in latest to oldest order.</td>
                                            </tr>
                                            
                                            <tr>
                                                    <td>timeFrame</td>
                                                    <td>Must</td>
                                                    <td>timeFrame can take either following values daily
                                                            monthly, yearly.</td>
                                            </tr>
                                            <tr>
                                                    <td>params</td>
                                                    <td>optional</td>
                                                    <td>This can be a comma separated list of parameters. <br>
                                                            For example if only temperature and pressure is needed
                                                            then give ‘temperature, pressure’.
                                                            <br> <br>
                                                            By default API will consider all parameters</td>
                                            </tr>
                                            
                                            
                                          </table>
                                          <span>
                                                <h3>Example</h3>
                                                
                                                <h4> <b><u>
                                                        <a href="#">  http://117.247.186.190:4001/device/sensor/stats/count?userId=admin&authPassword=admin& <br> deviceIds=70b3d5fffe098009&timeFrame=daily,monthly,yearly</a> </u></b>
                                                </h4> <br>
                                                <h4>This request will return the number of records stored for statistics data for device '70b3d5fffe098009'. <br>
                                                        ‘statistics record count’ for device '70b3d5fffe098009' . <br> Record count will be calculated based on the
                                                        ‘params’ and ‘timeStart’ and ‘timeEnd’. <br> If ‘timeStart’ and ‘timeEnd’ parameter are absent,
                                                        system will calculate record count for complete data set. <br> <br>
                                                     
                                                  </h4>
                                                  <h3>API Result</h3>
                                                  <h4 style="color:cadetblue;">
                                                        {"status":"ok","errorCode":0,"message":null,"data":{"statCountPerDeviceId": <br>[{"deviceId":"70b3d5fffe098009","stat":{"dailyStat":23,"monthlyStat":23,"yearlyStat":23}}]}}<br> <br>
                                                  </h4>
                                            </span>

                              </span>



                              <span>

                                    <h4><b><u> 3.  Api: /device/sensor/livedata/v1 </u></b></h4> <br>
                                    <h4>Parameter supported</h4> <br>
            
                                    <table>
                                            <tr>
                                              <th>Parameter Name</th>
                                              <th>Optional/Must</th>
                                              <th>Purpose</th>
                                            </tr>
                                            <tr>
                                              <td>userId</td>
                                              <td>Must</td>
                                              <td>For now use value ‘admin’</td>
                                            </tr>
                                            <tr>
                                              <td>authPassword</td>
                                              <td>Must</td>
                                              <td>For now use value ‘admin’
                                              </td>
                                            </tr>
                                            
                                            <tr>
                                              <td>deviceIds</td>
                                              <td>Must</td>
                                              <td>This parameter can contain the comma separated device
                                                    identifiers or a single device id</td>
                                            </tr>
                                           
                                            <tr>
                                                    <td>timeStart,timeEnd</td>
                                                    <td>optional</td>
                                                    <td>This indicates the time epoch value of the start and end
                                                            time for collecting device statistics over a period. <br>
                                                            If not given, api will return data in latest to oldest order.</td>
                                            </tr>
                                            
                                            <tr>
                                                    <td>limit</td>
                                                    <td>Must</td>
                                                    <td>This parameter can contain the comma separated device
                                                          identifiers or a single device id</td>
                                            </tr>
                                            <tr>
                                                    <td>offset</td>
                                                    <td>optional</td>
                                                    <td>By default it will be 0,</td>
                                            </tr>
                                            
                                            
                                          </table>
                                          <span>
                                                <h3>Example</h3>
                                                
                                                <h4> <a href="#">
                                                        http://117.247.186.190:4001/device/sensor/livedata/v1?userId=admin&authPassword=admin&deviceIds=70b3d5fffe098009&limit=1&offset=0 </a>
                                                </h4> <br>
                                                <h4>This API will return the very latest data of device '70b3d5fffe098009' . Limit ‘1’ indicates , give only 1
                                                        record. <br> Recent data will be put first, because of this it gives latest data. <br> <br>
                                                     
                                                  </h4>
                                                  <h3>API Result</h3>
                                                  <h4 style="color:cadetblue;">
                                                        {"status":"ok","errorCode":0,"message":null,"data":{"liveDataPerDeviceId": <br>
                                                        [{"deviceId":"70b3d5fffe098009","dataList":[{"logicalDeviceId":"70b3d5fffe098009_L", <br>
                                                        "data":{"temperature":1.69,"rain":20,"UVa":1,"UVb":1,"light":10,"pressure":300,"humidity":100, <br>
                                                        "PM10":104.4,"PM2p5":20,"CO":0.01486,"CO2":0.55,"AsH3":0.0071,"C6H6":1.005,"NH3":1.78,"O3":1,"NO2":0.0323,"SO2":0.082, <br>
                                                         "noise":1,"uptime":null,"receivedTime":1542878745205,"AQI":500,"latitude":"27","longitude":"77"}}]}]}} <br> <br>
                                                  </h4>
                                            </span>
                              </span>


                              <span>

                                <h4><b><u> 4.  Api: /device/sensor/livedata/v1/count</u></b></h4> <br>
                                <h4>Parameter supported</h4> <br>
        
                                <table>
                                        <tr>
                                          <th>Parameter Name</th>
                                          <th>Optional/Must</th>
                                          <th>Purpose</th>
                                        </tr>
                                        <tr>
                                          <td>userId</td>
                                          <td>Must</td>
                                          <td>For now use value ‘admin’</td>
                                        </tr>
                                        <tr>
                                          <td>authPassword</td>
                                          <td>Must</td>
                                          <td>For now use value ‘admin’
                                          </td>
                                        </tr>
                                        
                                        <tr>
                                          <td>deviceIds</td>
                                          <td>Must</td>
                                          <td>This parameter can contain the comma separated device
                                                identifiers or a single device id</td>
                                        </tr>
                                       
                                        <tr>
                                                <td>timeStart,timeEnd</td>
                                                <td>optional</td>
                                                <td>This indicates the time epoch value of the start and end
                                                        time for collecting device statistics over a period. <br>
                                                        If not given, api will return data in latest to oldest order.</td>
                                        </tr>
                                                                                
                                </table>

                                      <span>
                                            <h3>Example</h3>
                                            
                                            <h4>
                                                <a href="#"> http://117.247.186.190:4001/device/sensor/livedata/v1/count?userId=admin&authPassword=admin&deviceIds=70b3d5fffe098009</a><br>
                                            </h4>
                                            <h4>This API will return the very latest data of device '70b3d5fffe098009' . Limit ‘1’ indicates , give only 1
                                                    record. <br> Recent data will be put first, because of this it gives latest data. <br> <br>
                                                 
                                              </h4>
                                              <h3>API Result</h3>
                                              <h4 style="color:cadetblue;">
                                                {"status":"ok","errorCode":0,"message":null,"data":{"liveDataCountPerDeviceId":[{"deviceId":"70b3d5fffe098009","count":6}]}} <br> <br>
                                              </h4> <br>
                                        </span>

                            </span>
  

                        </span>

                        <span>
                                <h2 style="color:blue">FAQs</h2>
                                <h4>Please visit <a href="http://envitus.co" target="_blank">envitus.co</a> for more details.</h4> <br> <br>
                        </span>

                        <span>
                                <h2 style="color:blue">Support</h2><br>
                                <h3 style="padding-left:30px">Address</h3>
                                <div style="font-size:17px; padding-left: 30px;">
                                                Alcodex Technologies Pvt. Ltd.<br>
                                                7/719-B, Plot No: 180, Mavelipuram Colony<br>
                                                Kakkanad, Kochi-682030,Kerala, India
                                </div>

                                <h3 style="padding-left:30px">Mail</h3>
                                <div style="font-size:17px; padding-left: 30px;">
                                                <a href="http://info@envitus.com" target="_blank">info@envitus.co</a>
                                </div>
                                <h3 style="padding-left:30px">Phone</h3>
                                <div style="font-size:17px; padding-left: 30px;">
                                                +91 484 2980822
                                </div>




                        </span> <br> <br> <br><br>


                </div>

                

                
        
            </div>
         
        </div>
        </div>
       
    </div>
    


</div>
