<style>
    .table1 td,
    .table th {}

    table {
        border: 2px solid #CCC;

        border-collapse: collapse;
    }

    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
        border: none !important;


    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
        vertical-align: middle;
    }

    thead th {
        height: 30px;
        /*text-align: left;*/
    }

    tbody {
        height: auto;
        overflow-y: auto;
    }

    thead {
        /* fallback */
    }

    .thead-calib {
        vertical-align: text-top|top;
        height: 40px;

        padding: 0px;
        background-color: lightslategrey;
    }

    .table>tbody>tr:first-child>td {
        border: none;
    }

    tbody td,
    thead th {
        width: 15.2%;
        float: left;

    }

    .angular-google-map-container {
        height: 400px;
        width: auto;
    }

    .active_row {
        border: 1px solid !important;
        color: darkblue;


    }
</style>
<div class="container-fluid" style="margin-left:5px;margin-right:5px;margin-top:3px">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:20px">Installed Devices</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-6" style="height:10%">
                        <div style="width:20%;margin-top:0px;margin-bottom:0px;height:10%" class="pull-right" ng-show="isDeviceLoadingOngoing">
                            <div class="progress" style="height:5px">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{getDeviceTableLoadedPercent()}}" aria-valuemin="0" aria-valuemax="100"
                                    style="width:{{getDeviceTableLoadedPercent()}}%;height:5px">
                                    70%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">


                    <table class="table table-striped" style="height:400px">
                        <thead style="background-color:#666666;color:white;font-size:16px;padding-top:3px;padding-bottom:3px">
                            <tr>
                                <th>Device Id</th>
                                <th>Type</th>
                                <th>Family</th>
                                <th>Sub Type</th>
                            </tr>
                        </thead>

                        <tbody style="height:360px;">

                            <tr data-ng-repeat="x in devices" data-ng-click="selectDevice($index,x)" ng-class="{active_row:$index==selectedRow}">
                                <td>{{ x.deviceId }}</td>
                                <td>{{ x.type }}</td>
                                <td>{{ x.devFamily }}</td>
                                <td>{{ x.subType }}</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="removeDevice(x.deviceId)">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" ng-click="editDevice(x,$event)">
                                        <span class="glyphicon glyphicon-edit"></span> Edit
                                    </button>
                                </td>
                            </tr>
                            <!--<button type="button" class="btn btn-default">Remove</button>-->

                        </tbody>

                    </table>
                </div>
                <div class="col-sm-6">

                    <ui-gmap-google-map center="map.center" draggable="true" events="map.events" zoom="map.zoom">
                        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
                    </ui-gmap-google-map>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:20px">{{addDevicePanelTitle}}</div>
            <div class="panel-body">

                <table class="table" style="margin-bottom:0px;padding-bottom:0px;display:inline">
                    <tbody style="display:inline">
                        <tr style="display:inline">
                            <td>
                                <div class="form-group">
                                    <label for="sel1" style="font-weight:normal">Device Id*</label>
                                    <input class="form-control" id="devId" ng-model="newDevId" type="text">
                                </div>
                            </td>
                            <td style="padding-left:10px">
                                <div class="form-group">
                                    <label for="sel1" style="font-weight:normal">Type*</label>
                                    <select class="form-control" id="sel1" ng-model="newDevType" ng-disabled="isEditMode">
                                        <option>Sensor</option>
                                        
                                    </select>
                                </div>

                            </td>
                            <td style="padding-left:10px">
                                <div class="form-group">
                                    <label for="sel1" style="font-weight:normal">Family*</label>
                                    <select class="form-control" id="sel1" ng-model="newDevFamily" ng-disabled="isEditMode">
                                        <option>Air</option>
                                        <option>Water</option>
                                        <option>Flood</option>
                                    </select>
                                </div>
                            </td>
                            <td style="padding-left:10px">
                                <div class="form-group" ng-readonly="isEditMode">
                                    <label for="sel1" style="font-weight:normal">Sub Type*</label>
                                    <select class="form-control" id="sel2" ng-model="newDevSubType" ng-disabled="isEditMode" ng-change="newDevSubtypeSelectionChanged()">
                                      <!--  <option>AFMEthernet</option> 
                                        <option value="EnvSensorDevice">ESDEL001</option> -->
                                        <option value="PanicButtonDevice">ADXSCPB1001</option>
                                        <option value="RaipurDevice">ESRAI001</option>

                                        
                                     

                                    </select>
                                </div>
                            </td>

                            <td style="padding-left:10px;display:inline">
                                <div class="form-group">
                                    <label for="sel1" style="font-weight:normal">Time Zone*</label>
                                    <timezone-selector ng-model="newDevTimeZone" />
                                    <!--style="position: absolute; z-index: 3"-->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="panel-group" id="idMoreSettings">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#idMoreSettings" data-target="#collapse1">
                                        <span class="glyphicon glyphicon-plus"></span> Deployment Details
                                    </a>
                                </h1>
                                <!--<a data-toggle="collapse" data-target="#collapse1">Show more settings</a>-->
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table" style="margin-bottom:0px;padding-bottom:0px;border:0px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Customer Name*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevCustomerName" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Lot Number*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevLotNumber" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Serial Number*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevSerialNumber" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Grade*</label>
                                                        <select class="form-control" id="newDevGrade" ng-model="newDevGrade">
                                                            <option>Industrial</option>
                                                            <option>Consumer</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Deployment*</label>
                                                        <select class="form-control" id="newDevDeployment" ng-model="newDevDeployment">
                                                            <option>Outdoor</option>
                                                            <option>Indoor</option>
                                                        </select>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">City*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevCity" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Zone*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevZone" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Landmark*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevLandMark" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Latitude*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevLatitude" type="text">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="sel1" style="font-weight:normal">Longitude*</label>
                                                        <input class="form-control" id="devId" ng-model="newDevLongitude" type="text">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group" style="margin-left:6px">
                                        <label for="comment" style="font-weight:normal">Description</label>
                                        <textarea class="form-control" rows="3" cols="2" id="comment" ng-model="newDevDescription"></textarea>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <div class="form-group">

                    <div class="panel-group" id="idParamSettings">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#idParamSettings" data-target="#collapse2">
                                        <span class="glyphicon glyphicon-plus"></span> Device Parameter Settings
                                    </a>
                                </h1>
                                <!--<a data-toggle="collapse" data-target="#collapse1">Show more settings</a>-->
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table table-striped" style="margin-bottom:0px;padding-bottom:0px">
                                        <thead style="background-color:#666666;color:white;font-size:16px">
                                            <tr>
                                                <th style="width:10%">Parameter Name</th>
                                                <th style="width:20%">Filtering</th>
                                                <th style="width:15%">Range</th>
                                        <!--        <th style="width:50%">Calibration</th>    -->
                                            </tr>
                                        </thead>
                                        <tbody style="height:400px">
                                            <tr data-ng-repeat="sp in selectedDeviceParamDefs" data-ng-click="selectParamTableRow($index)" ng-class="{active_row:$index==selectedParamRow}">

                                                <td style="width:10%">
                                                    <div>
                                                        <label style="font-size:15px;">{{sp.displayName}}</label>
                                                    </div>

                                                </td>

                                                <td style="width:20%">
                                                    <div class="form-group">
                                                        <select class="form-control" id="sel1" ng-model="sp.filteringMethod">
                                                            <option></option>
                                                            <option>WMAFilter</option>
                                                        </select>
                                                        <p></p>
                                                        <div style="border:solid;border-radius:5px;border-width:1px;padding-left:5px;padding-right:5px;padding-top:5px" ng-if="sp.filteringMethod != ''">
                                                            <div style="margin-left:10px">
                                                                <label style="font-weight:normal;">Configure Filter</label>
                                                            </div>
                                                            <div ng-if="sp.filteringMethod == 'WMAFilter'" style="margin-left:10px">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="sel1" style="font-weight:normal">T0 Value</label>
                                                                            <input type="number" class="form-control" ng-model="sp.filteringMethodDef.weightT0" type="text">

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="sel1" style="font-weight:normal">T1 Value</label>
                                                                            <input type="number" class="form-control" ng-model="sp.filteringMethodDef.weightT1" type="text">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width:15%;">
                                                    <div class="form-inline">
                                                        <div class="form-group">
                                                            <label for="sel1" style="font-weight:normal">Min Value</label>
                                                            <input type="number" class="form-control" ng-model="sp.maxRanges.min">
                                                            <label for="sel1" style="font-weight:normal">Max Value</label>
                                                            <input type="number" class="form-control" ng-model="sp.maxRanges.max">
                                                        </div>
                                                    </div>
                                                </td>

                                                
                                                <td style="width:45%;">

                                                    <div class="pull-left"></div>
                                                    <div class="pull-right">Calibration Table:
                                                        <button type="button" class="btn btn-default" ng-click="addCurveCalibItem(sp.calibration)">
                                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <div style="margin-left:10px">

                                                            <div ng-show="sp.calibration.type == 'curve'">

                                                                <table class="table table-striped" style="margin-bottom:0px;padding-bottom:0px;">

                                                                    <thead class="thead-calib" style="color:whitesmoke;font-size:16px;vertical-align:top">
                                                                        <tr>
                                                                            <th style="width:20%;font-weight:normal">Min</th>
                                                                            <th style="width:20%;font-weight:normal">Max</th>
                                                                            <th style="width:20%;font-weight:normal">Offset</th>
                                                                            <th style="width:20%;font-weight:normal">Func</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody style="max-height:200px">
                                                                        <tr data-ng-repeat="calibData in sp.calibration.data track by $index">
                                                                            <td style="width:20%;font-weight:normal">
                                                                                <div class="form-group">
                                                                                    <input type="number" class="form-control" ng-model="calibData.min">
                                                                                </div>
                                                                            </td>
                                                                            <td style="width:20%;font-weight:normal">
                                                                                <div class="form-group">
                                                                                    <input type="number" class="form-control" ng-model="calibData.max">
                                                                                </div>
                                                                            </td>
                                                                            <td style="width:20%;font-weight:normal">
                                                                                <div class="form-group">
                                                                                    <input type="number" class="form-control" ng-model="calibData.offset">
                                                                                </div>
                                                                            </td>

                                                                            <td style="width:20%;font-weight:normal">
                                                                                <div class="form-group">
                                                                                    <select class="form-control" id="sel1" ng-model="calibData.funct">
                                                                                        <option>translate</option>
                                                                                        <option>scale</option>
                                                                                    </select>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width:5%;font-weight:normal">
                                                                                <div class="form-group">
                                                                                    <button type="button" class="btn btn-default" ng-click="removeCurveCalibItem(calibData,sp.calibration.data)">
                                                                                        <span class="glyphicon glyphicon-remove"></span>
                                                                                    </button>
                                                                                </div>
                                                                            </td>
                                                                        
                                                                        </tr>
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="pull-right" ng-show="isAddMode">
                        <button type="button" class="btn btn-primary btn-md" ng-click="addDevice(newDevId,newDevFamily,newDevSubType)">Add Device</button>
                    </div>
                    <div class="pull-right" style="margin-right:10px" ng-show="isEditMode">
                        <button type="button" class="btn btn-primary btn-md" ng-click="updateDevice()">Update Device</button>
                    </div>
                    <div class="pull-right" style="margin-right:10px" ng-show="isEditMode">
                        <button type="button" class="btn btn-primary btn-md" ng-click="cancelEdit()">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
