<style>
  .band{
    position: absolute;
    top: 8px;
    left: 205px;
  }
</style>

<div  ng-controller="navigationController">
  <nav class="navbar navbar-inverse" style="margin:0px">
  <div class="container-fluid">
    <div class="navbar-header">
	 <span class="navbar-brand" style="font-size:30px;cursor:pointer" href ng-click="openNav()">&#9776</span>
	 <span class="navbar-brand">Envitus IoT Suite &Tab; &Tab;
     <div class="band"><img src="../images/logo.png" height="36px" width="70px"></div>
   </span>
    </div>
    <ul class="nav navbar-nav">
      <!--li><a href="#">About</a></li>
      <!li><a href="#">Contact US</a></li-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li-->
	  <li><a href ng-click="home();closeNav();"><span class="glyphicon glyphicon-dashboard"></span>Home</a></li>
<!--   	  <li><a href ng-click="heatmap()"><span class="glyphicon glyphicon-dashboard"></span> Heatmap</a></li>-->
      <li><a href ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
</div>