<style>
    .vl {
    border-left: 2px solid green;
    height: 200px;
}
    .feature {
        position: absolute;
	
	left: calc(50% - 250px);
    }
    
</style>
<script src="js/shafi/skel.min.js"></script>
	<script src="js/shafi/skel-layers.min.js"></script>
	<script src="js/shafi/init.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/home/skel.css" />
	<link rel="stylesheet" type="text/css" href="css/home/style.css" />
	<link rel="stylesheet" type="text/css" href="css/home/style-xlarge.css" />


<div class="landing" >
    
    <section id="banner">
        <h2> <img src="../images/logo.png" width="558" height="276"> </h2>
        <p>MEASURE MONITOR MANAGE ENVIRONMENTAL DATA</p>
        <ul class="actions">
            <li>
                <a href="#/dashboard" class="button big">Dashboard</a>
                <a href="#/live_data" class="button big">Data Analysis</a>
            </li>
        </ul>
    </section>
    
    

    <section id="one" class="wrapper style1 align-center">
        <div class="container">
            <header>
                <h2>CleanAirIndia an initiative for better Air Quality</h2>
            </header>
            <div class="row 100%">
              
                    <section>
                            <div class="container">
                                <div class="row">
                                   
                                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 sections_acq">
                                        <div class="features_section">
                                            <div class="button big"> <h2> ACQUIRE </h2></div>
                                        </div>
                                        <div class="list_acuire_item">
                                            <ul style="text-align: left">
                                                <br>
                                                
                                                <li>Dense Urban Monitoring Networks</li>
                                                <li>Supports Over Pollutants</li>
                                                <li>Hyper Local Micro Climate Data</li>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 sections_acq">
                                        <div class="features_section">
                                            <div class="button big"> <h2> ANALYZE </h2></div>
                                        </div>
                                        <div class="list_acuire_item">
                                            <ul style="text-align: left">
                                                    <br>
                                                <li>Envitus Suite to easily view, and analyze, data from multiple sensors and locations</li>
                                                <li>Custom reports and analysis</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class=" col-sm-12 col-md-3 col-lg-3 col-xl-3 sections_acq">
                                        <div class="features_section">
                                            <div class="button big"> <h2> AWARE </h2></div>
                                        </div>
                                        <div class="list_acuire_item">
                                            <ul style="text-align: left">
                                                    <br>
                                                <li>Visualize data in real-time</li>
                                                <li>Customize pollutant threshold for automated alerts and push notifications</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                        <div class="features_section">
                                            <div class="button big"> <h2>
                                                ACTIONS </h2></div>
                                        </div>
                                        <div class="list_acuire_item actn_sec_list">
                                            <ul style="text-align: left">
                                                <br>
                                                <li>Micro climate system ensure quick and accurate air quality.</li>
                                                <li>Real-time microclimatic data measurements enables quick action to improve quality of life </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>

            </div>
            </div>
            </section>



    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <section class="4u 6u(medium) 12u$(small)">
                    
                    <p>
                        <img src="../images/report_blog.png" width="600px">
                    </p>
               

                </section>
                <section class="4u 6u$(medium) 12u$(small)">
                    <h3></h3>
                    <p>
                    </p>

                </section>
               
                <section class="4u$ 12u$(medium) 12u$(small)">
                    <h3>Contact Us</h3>
                    <ul class="icons">
                        <li><a href="https://twitter.com/alcodex_tech" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/alcodex/" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
                        <!--<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>-->
                        <!--<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>-->
                        <li><a href="https://www.linkedin.com/company/alcodex-technologies-pvt-ltd" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                    <ul class="tabular">
                        <li>
                            <h3>Address</h3>
                            Alcodex&nbsp;Technologies&nbsp;Pvt.&nbsp;Ltd.<br>
                            7/719-B, Plot No: 180, Mavelipuram Colony<br>
                            Kakkanad, Kochi-682030,Kerala, India
								</li>
                        <li>
                            <h3>Mail</h3>
                            <a href="#">info@envitus.co</a>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            +91 484 2980822
								</li>
                    </ul>
                </section>
            
            </div>
            <ul class="copyright">
                <li>&copy;Alcodex Technologies Pvt Limited 2013-2018. All rights reserved.</li>

            </ul>
        </div>
    </footer>

</div>
