<style>
	.table1 td, .table th {
	}


	thead, tbody, tr, td, th {
			display: block;
	}

			tr:after {
					content: ' ';
					display: block;
					visibility: hidden;
					clear: both;
			}

			thead th {
					height: 30px;
					/*text-align: left;*/
			}

	tbody {
			height: auto;
			overflow-y: auto;
	}

	thead {
			/* fallback */
	}

	.table > tbody > tr:first-child > td {
	border:none;
}
			tbody td, thead th {
					width: 13.2%;
					float: left;
			}

	.angular-google-map-container {
			height: 400px;
			width: auto;
	}
	 .active_row {
			border: 1px solid;
	}
</style>
<div class="container">
<div class="row">        
	<div class="panel panel-default">
		<div class="panel-heading" style="font-weight:bold">Users
			<div class="pull-right">
			<button type="button" class="btn btn-primary btn-md" ng-click="addNewUser" data-toggle="modal" data-target="#addNewUserModal">Add User</button>
		</div>
	
	</div>
		<div class="panel-body">
			<div class="col-sm-10">
				<table class="table table-striped" style="height:400px; width: 1000px">
					<thead>
						<tr>
							<th style="font-weight:normal">User Name</th>
							<th style="font-weight:normal">Name</th>
							<th style="font-weight:normal">Role</th>
							<th style="font-weight:normal">Contact Number</th>
							<th style="font-weight:normal">Email</th>
						</tr>
					</thead>

					<tbody style="max-height:500px;">
						<tr data-ng-repeat="x in users"  data-ng-click="selectUser($index,x)" ng-class="{active_row:$index==selectedRow}">
							<td>{{ x.userName }}</td>
							<td>{{ x.name }}</td>
							<td>{{ x.role }}</td>
							<td>{{ x.contact }}</td>
							<td>{{ x.email }}</td>
							
							<td>
								<button type="button" class="btn btn-default btn-sm" ng-click="removeUser(x.userName)">
										<span class="glyphicon glyphicon-remove"></span> Remove
								</button>
							</td>
							<td>
								

						</tr>
					</tbody>
					
				</table>
			 </div>
			
		</div>
			</div>        
</div>

<!-- Modal -->
<div class="modal fade" id="addNewUserModal" role="dialog">
	<div class="modal-dialog">
	
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{userPopuptitle}}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
			<div class="form-group">
			<label for="name">Name*</label>
			<input type="text" class="form-control" id="name" ng-model="newName" placeholder="Name" />
			</div>
			<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" ng-model="newEmail" placeholder="Email" />
			</div>
			<div class="form-group">
			<label for="contact">Contact Number</label>
			<input type="tel" class="form-control" id="contact" ng-model="newContact" placeholder="Contact Number" min="100000000" max="999999999"/>
			</div>
			<div class="form-group">
			<label for="role">Role*</label>
			<select class="form-control" id="role" ng-model="newRole" placeholder="Select Role">
				<option value="Administrator">Administrator</option>
				<option value="Supervisor">Supervisor</option>
				<option value="Operator">Operator</option>
			</select>
			</div>
			<div class="form-group">
			<label for="name">Username*</label>
			<input type="text" class="form-control" id="username" ng-model="newUserName" placeholder="Username" />
			</div>
			<div class="form-group">
			<label for="password">Password*</label>
			<input type="password" class="form-control" id="password" ng-model="newPassword" placeholder="Password" />
			</div>
			<div class="form-group">
			<label for="password">Confirm Password*</label>
			<input type="password" class="form-control" id="password2" ng-model="newPassword2" placeholder="Password" />
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="saveUser(newName,newEmail,newContact,newRole,newUserName,newPassword,newPassword2)" class="btn btn-primary btn-md">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
			<div class="pull-right" style="margin-right:10px" ng-show="isEditMode">
				<button type="button" class="btn btn-primary btn-md" ng-click="updateUser()">Update User</button>
		</div>
		<div class="pull-right" style="margin-right:10px" ng-show="isEditMode">
				<button type="button" class="btn btn-primary btn-md" ng-click="cancelEdit()">Cancel</button>
		</div>
		</form>
			</div>
		</div>
		
	</div>
</div>
</div>




<!--saveUser(newname,newemail,newcontact,newroleType,newuserName,newpassword) -->