<style>
    table {
        border: 1px solid #CCC;
        border-collapse: collapse;
    }


    .table1 td, .table th {
    }


    thead, tbody, tr, td, th {
        display: block;
        border: none !important;
    }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;
            /*text-align: left;*/
        }

    tbody {
        height: auto;
        overflow-y: auto;
    }

    thead {
        /* fallback */
    }


        tbody td, thead th {
            width: 19.2%;
            float: left;
        }

    .active_row {
        border: 1px solid !important;
        color: darkblue;
    }

    .angular-google-map-container {
        height: 400px;
        width: auto;
    }

    .chartAreaWrapper {
        width: 600px;
        overflow-x: scroll;
    }

    /* CSS REQUIRED */
    .state-icon {
        left: -5px;
    }

    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    /* DEMO ONLY - REMOVES UNWANTED MARGIN */
    .well .list-group {
        margin-bottom: 0px;
    }
</style>
<script>

</script>
<div class="container-fluid" style="margin-left:5px;margin-right:5px;margin-top:3px">

    <div class="row">
        <div class="panel panel-default" style="border-color:darkgray;background-color:white">
            <div class="panel-heading" style="font-size:20px">Region Wise Analysis</div>
            <div class="panel-body">
                <div style="margin-bottom:10px">
                    <div class="row">
                        <div class="pull-left">
                            <label style="font-weight:normal;margin-left:20px;margin-top:5px;">Select City and Zone and Date to start analysis</label>
                            <p></p>
                        </div>
                       

                    </div>
                    <p></p>

                    <div class="row">
                        

                        <div class="pull-left">

                            <div class="pull-left" style="margin-right:5px;margin-left:20px;">
                                <label style="font-weight:normal;margin-left:0px">Select Date  <input type="date" datetime-picker ng-model="dateZoneStart" ng-change="liveEndDateChange()" /></label>
                                <!--<label style="font-weight:normal;margin-left:0px">End Date <input type="date" datetime-picker ng-model="dateLiveEnd" ng-change="liveEndDateChange()"/></label>-->
                                <!--<button type="button" class="btn btn-primary" >Apply</button>-->
                            </div>


                            <div class="pull-left" style="margin-left:20px">
                                <div class="dropdown">
                                    City
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        {{selectedCity}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li data-ng-repeat="cityName in availableCities"><a ng-click="selectCity(cityName)">{{cityName}}</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="pull-left" style="margin-left:20px">
                                <div class="dropdown">
                                    Zone
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        {{selectedZone}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="selectZone('[None]')">[None]</a></li>
                                        <li data-ng-repeat="zoneName in availableZones"><a ng-click="selectZone(zoneName)">{{zoneName}}</a></li>

                                    </ul>
                                </div>
                            </div>

                           
                            <div class="pull-left">
                                <div class="pull-right" style="margin-left:10px;">
                                    <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                            {{daysSelected}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click="selectDays('1 Day')">1 Day</a></li>
                                            <li><a ng-click="selectDays('7 Day')">7 Day</a></li>
                                            <li><a ng-click="selectDays('14'Day')">14 Day</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <label class="pull-right" style="margin-left:20px;margin-top:5px ;font-weight:normal;vertical-align:middle">Number of Days</label>
                            </div>
                           

                           
                        </div>
                       
                    </div>
                   
                    <div class="row" style="margin-left:10px;margin-top:30px">
                        
                        <div class="pull-left" style="margin:0px">
                            
                            <button type="button" class="btn btn-primary" ng-click="buttonZoneProcessStartClick()">Generate Report</button>
                        </div>
                        <div class="pull-left" style="margin-left:10px" ng-show="zoneProcessingCompleted==false">
                            
                            <div class="loaderForTitle"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="panel-group" id="accordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" data-target="#collapse3">
                                    <span class="glyphicon glyphicon-minus"></span> Data Statistics
                                </a>
                            </h1>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse in">
                         

                        </div>



                    </div>
                </div>-->
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="row">
                            <!--<label class="pull-left" style="margin-left:20px;margin-top:5px ;font-weight:normal;vertical-align:middle">Select time period</label>
                <div class="pull-left" style="margin-left:10px;">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            1 Day
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="refreshStatDataAsSelectedTime(1)">1 Day</a></li>
                            <li><a ng-click="refreshStatDataAsSelectedTime(7)">1 Month</a></li>
                            <li><a ng-click="refreshStatDataAsSelectedTime(30)">1 Month</a></li>
                        </ul>
                    </div>
                </div>-->

                            <div>
                               
                                <p></p>

                                <div class="row" style="margin-left:0px;margin-right:0px">



                                    <ul class="nav nav-tabs">
                                        <li ng-class="{ active: isZoneTabSelected(1) }">
                                            <a ng-click="setZoneViewTab(1)">Table View</a>
                                        </li>
                                        <li ng-class="{ active: isZoneTabSelected(2) }">
                                            <a ng-click="setZoneViewTab(2)">Chart</a>
                                        </li>
                                       
                                    </ul>


                                    <div class="row" style="margin-left:10px;margin-right:10px">
                                        <div ng-show="isZoneTabSelected(1)">
                                            <div class="row">
                                                <!--<div class="pull-left">
                                        <div class="dropdown">
                                            <p></p>
                                            <button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#demo">
                                                Select Parameter
                                                <span class="caret"></span>
                                            </button>
                                            <p></p>
                                            <div id="demo" class="collapse" style="position:absolute">

                                                <div class="pull-left">
                                                    <div style="max-height: 300px;overflow: scroll;">
                                                        <ul class="list-group checked-list-box">
                                                            <li class="list-group-item" data-checked="true" data-ng-repeat="statTableParamItem in selectedDeviceStatParamSelection">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" name="selectedFruits[]" value="{{statTableParamItem}}"
                                                                               ng-checked="selectedStatTableSelectionParamList.indexOf(statTableParamItem) > -1"
                                                                               ng-click="selectStatParameterForTableview(statTableParamItem)">{{statTableParamItem}}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    //
                                                </div>
                                            </div>
                                        </div>

                                    </div>-->
                                            </div>

                                            <p></p>
                                            <div class="row" ng-repeat="(className,paramList) in zoneValuesPerClass">
                                                <div class="pull-right">
                                                    <label style="font-weight:normal">Device SubTye:{{classNameToSubType(className)}}</label>
                                                </div>
                                                <table class="table table-striped">
                                                    <thead style="background-color:#666666;color:white;font-size:16px;height:40px">
                                                        <tr>
                                                            <th style="width:190px">Parameter Name</th>
                                                            <th style="width:190px">Unit</th>
                                                            <th style="width:190px">Min</th>
                                                            <th style="width:190px">Max</th>
                                                            <th style="width:190px">Average</th>
                                                            <th style="width:190px">Date</th>
                                                            <!--<th data-ng-repeat="statHeadItem in statDataTableHeader" style="width:190px">{{statHeadItem}}</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody style="height:300px;">
                                                        <tr data-ng-repeat="row1 in paramList">
                                                            <td style="width:190px">{{row1.paramName}}</td>
                                                            <td style="width:190px">{{row1.unit}}</td>
                                                            <td style="width:190px">{{row1.min}}</td>
                                                            <td style="width:190px">{{row1.max}}</td>
                                                            <td style="width:190px">{{row1.average}}</td>
                                                            <td style="width:190px">{{row1.time}}</td>
                                                            <!--<td data-ng-repeat="(aa,bb) in row1 track by $index" style="width:190px">{{bb}}</td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>





                                        <div ng-show="isZoneTabSelected(2)">
                                            <div>
                                                <div class="pull-right" style="margin:5px" ng-show="isStatDataChartLoadingOngoing()">
                                                    <div class="loaderForTitle"></div>
                                                </div>
                                            </div>

                                            <div ng-repeat="(className,graphData) in zoneChartData" style="margin-bottom:20px">
                                                <p></p>
                                                <p></p>
                                                <div class="row" style="margin-top:10px;margin-right:5px;margin-left:5px">
                                                    <p></p>
                                                    
                                                    <div>
                                                        <div class="pull-right">
                                                            <label style="font-weight:normal">Device SubTye:{{classNameToSubType(className)}}</label>
                                                        </div>
                                                        <div class="pull-left">
                                                            <label style="font-weight:normal;margin-left:10px;margin-top:10px">Select a parameter</label>
                                                        </div>
                                                        <div class="pull-left" style="margin-left:10px;">
                                                            <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                    {{graphData.selectedParamDispName}}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li data-ng-repeat="statParam in graphData.paramList"><a ng-click="seletChartParameter(statParam,className,graphData)">{{statParam.dispName}}</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <div>

                                                        <div class="pull-left">
                                                            <label style="font-weight:normal;margin-left:10px;margin-top:10px">Select Function</label>
                                                        </div>
                                                        <div class="pull-left" style="margin-left:10px;">
                                                            <div class="dropdown">
                                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                                    {{graphData.selectedFunc}}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a ng-click="selectZoneChartFunc(graphData,'min')">Min</a></li>
                                                                    <li><a ng-click="selectZoneChartFunc(graphData,'max')">Max</a></li>
                                                                    <li><a ng-click="selectZoneChartFunc(graphData,'avg')">Avg</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                               
                                                <p></p>

                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <canvas id="statLineChart" class="chart chart-line" chart-data="graphData.graphModel.valueList" height="100"
                                                                chart-labels="graphData.graphModel.axisLabels" chart-series="statLineChartSeries" chart-options="statLineChartOptions"
                                                                chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
                                                    </div>
                                                    <hr />
                                                </div>

                                            </div>
                                        </div>

                                       


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>